.labresult-preview-image{
  width:300px;
}
.medication-preview-image{
  width:200px;
}
<<<<<<< HEAD
#loginBg{
  margin:0 !important;  
  background-image: url("https://i.ibb.co/yyZKTsr/BG-WEB.png");
  background-size: cover;
  height: 100vh;
=======
.editsizing{
  width: 300px;
  height: auto;
>>>>>>> master
}
