
<div class="row dash-row">
<div class="col-4 my-auto">
<a href="/careproviders">
<p class="text-p mb-0 text-center">Providers</p>
<img class="img-fluid border-0 newsize" src="/careProviders.png">
</a>
</div>

<div class="col-4 my-auto">
<a href="/medications">
<p class="text-p mb-0 text-center">Prescriptions</p>
<img class="img-fluid border-0 newsize" src="/meds.png">
</a>
</div>

<div class="col-4 my-auto">
<a href="/labresults">
<p class="text-p mb-0 text-center">Lab Results</p>
<img class="img-fluid border-0 newsize" src="/testLab.png">
</a>
</div>
</div>
<br>
<br>


<div class="row dash-row">
<div class="col-4 my-auto">
<a href="/notes">
<p class="text-p mb-0 text-center">Notes</p>
<img class="img-fluid border-0 newsize" src="/notes.png">
</a>
</div>

<div class="col-4 my-auto">
<a href="/insurance"><p class="text-p mb-0 text-center">Insurance</p>
<img class="img-fluid border-0 newsize" src="/insurance.png">
</a>
</div>

<div class="col-4 my-auto">
<p class="mb-0 text-center">Appointments Coming Soon :)</p>
<img class="img-fluid border-0 newsize" src="/calendar.png">
</div>

</div>


