
<div class="row dash-row">
<div class="col-4 my-auto">
<p class="mb-0 text-center">Appointments</p>
<img class="img-fluid border-0" src="/calendar.png">
</div>
<div class="col-4 my-auto">
<p class="text-p mb-0 text-center">Prescriptions</p>
<img class="img-fluid border-0" src="/meds.png">

</div>
<div class="col-4 my-auto">
<p class="text-p mb-0 text-center">Lab Results</p>
<img class="img-fluid border-0" src="/testLab.png">
</div>

</div>
<div class="row dash-row">

<div class="col-4 my-auto">
<p class="text-p mb-0 text-center">Notes</p>
<img class="img-fluid border-0" src="/notes.png">
</div>
<div class="col-4 my-auto">
<p class="text-p mb-0 text-center">Insurance</p>
<img class="img-fluid border-0" src="/insurance.png">
</div>
<div class="col-4 my-auto">
<p class="text-p mb-0 text-center">Providers</p>
<img class="img-fluid border-0" src="/careProviders.png">
</div>
</div>


