<!doctype html>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<html lang="en">
{{>head}}
 {{>navbar}}

<body>

<div id="loginBg">
 <div class="col-8 offset-2">
<p><b>
 Family Health is an app that manages all your family health information in one secure place.
  A Family can register, login and add members. Each member of the family can add their health providers, 
  insurance information, medication, lab results and take notes.  
 The Family Health app was created using JavaScript, Postgres, and Mustache-express. 
 The contact informations for the developers of this app are provided below.</p></b> 
 <div class="wrapper">
<div id="aboutContainer" class="container">
<p class="mb-0 text-center">ALEJANDRA</p> 
<p class=centerName><a href="https://github.com/alejandraguzman">GitHub</a></p>
<p class=centerName><a href=https://www.linkedin.com/in/aleguzman>linkedin</a><p>
</div>


  <div id="aboutContainer" class="container">
<p class="mb-0 text-center">BAYLIE</p>
<p class=centerName><a href="https://github.com/bayliewarrick">GitHub</a></p>
<p class=centerName><a href="https://www.linkedin.com/in/baylie">linkedin</a><p>
</div>





  <div id="aboutContainer" class="container">
<p class="mb-0 text-center">IAN</p>
<p class=centerName><a href="https://github.com/iansear">GitHub</a></p>
<p class=centerName><a href="https://www.linkedin.com/in/ian-sear">linkedin</a><p>
</div>


  <div id="aboutContainer" class="container">

<p class="mb-0 text-center">KETY</p>
<p class=centerName><a href="https://github.com/ketycossey">GitHub</a></p>
<p class=centerName><a href="https://www.linkedin.com/in/kety-cossey">linkedin</a><p>
</div>


  <div id="aboutContainer" class="container">
<p class="mb-0 text-center ">NARGIZA</p>
<p class=centerName><a href="https://github.com/nargiza-web/">GitHub</a></p>
<p class=centerName><a href="https://www.linkedin.com/in/nargiza-ozek">linkedin</a><p>
</div>

</body>
    {{> footer}}
</html> 