<!doctype html>
<html lang="en">
 {{> head}}
<body>

  {{> navbar}}
 <div class = "container">
  {{#families}}
        <h2> Welcome Family {{family_name}} </h2>
  {{/families}}
      
       
    
    <h2> ***This will be the dashboard for the family members*** </h2>
    <div class="list-group">
      <ul>
      {{#members}}
      <li>{{first_name}}</li>
      {{/members}}
      </ul>
    </div> 


  </div>
  {{> footer}}
</body>
</html>