<!doctype html>
<html lang="en">
 {{> head}}
<body>

  {{> navbar}}
 <div class = "container">
  {{#families}}
        <h1> Welcome Family {{family_name}} </h1>
  {{/families}}
  
      <ul class="list-group">
      {{#members}}
      <h2>{{first_name}}</h2>
      {{/members}}
      </ul>
  


  </div>
  {{> footer}}
</body>
</html>