<!doctype html>
<html lang="en">
 {{> head}}
<body>

  {{> navbar}}
 <div class = "container">
  {{#families}}
        <h1> Welcome Family {{family_name}} </h1>
  {{/families}}
      
       
    
    <h2> ***This will be the dashboard for the family members*** </h2>
  
  </div>
  {{> footer}}
</body>
</html>