<!doctype html>
<html lang="en">
 {{> head}}
  <body>
  {{> navbar}}
 

  <div class = "container">
    <h1>Hello, Team please put your stuff in here of course in another page</h1>
    <h2> ***This will be the dashboard for the family members*** </h2>
  </div>
  {{> footer}}
  </body>
</html>