<!doctype html>
<html lang="en">
 {{> head}}
<body>
  {{> navbar}}
 <div class = "container">

    <h2> ***This will be the dashboard for the family members*** </h2>
  </div>
  {{> footer}}
</body>
</html>