<!doctype html>
<html lang="en">
 {{> head}}
  <body>
  
  {{> navbar}}
  
<div class = "container">
  <h1> INSURANCE PAGE </h1>
  <a href="/insurance/add-insurance"> <button>Add Insurance </button></a>
  <div class = "list-group">
    {{^insurance}}
    <div class="alert alert-danger" role="alert" >Upload your insurance to display it</div>
    {{/insurance}}
    
    <ul>
    {{#insurance}}
    <div>
      <img src="/uploads/{{front_pic}}" class="labresult-preview-image" />
      <img src="/uploads/{{back_pic}}" class="labresult-preview-image" />
    </div>
    <div class = "d-flex w-100 justify-content-between">
      <h4 class="mb-1">{{care_provider_name}}</h4>
    </div>
    
    <form action = "/insurance/delete-insurance" method="POST">
      <input type="hidden" name= "front_pic" value="{{front_pic}}" />
      <input type="hidden" name="back_pic" value="{{back_pic}}" />
      <input type="hidden" name="insurance_id" value="{{id}}" />
      <button type="submit" class = "btn btn-danger">Delete</button>
    </form>
  
   <a href="/insurance/edit/{{id}}"><button class="btn btn-info">Edit</button></a>
  
   {{/insurance}}

    </ul>
      
      {{#message}}
      <div class="alert alert-danger" role="alert">
      {{message}}
      </div>
      {{/message}}
    </div>
  </div>
  {{> footer}}
  </body>
</html>