
<!doctype html>
<html lang="en">

<head>
{{> head}}
</head>
<body>
{{> navbar}}
 <div class = "container">

<hr/>
<a href="/medications/add-medication"><button >Add Medication</button></a>

<h5>Medications </h5>
<ul>
{{#medications}}
<p><h3>Medicine Name: {{medicineName}}</h3></p>
<p>id:{{id}}</p>
<div>
<img src="/uploads/{{medImageUrl}}" class="medicine-preview-image" style="max-height:200px; max-width:200px"/>
</div>
<p> Description of Med: {{medDescription}}</p>
<p> Frequency: {{medFrequency}} </p>

<form action='/medications/delete-medicine' method='POST'>
<input type='hidden' name="medicineId" value= "{{id}}" />
<button type = "submit">Delete</button>
</form>
<a href="/medications/edit-medication/{{medId}}"><button >Edit</button></a>
{{/medications}}
</ul>

</div>

</body>
<html>
