<html>
<head></head>
<body>
<h5>Medications </h5>
<ul>
{{#medications}}
<p><h3>Medicine Name: {{medicineName}}</h3></p>
<p>id:{{id}}</p>
<div>
<p> Photo:{{medImageUrl}}</p>
<p> Description of Med:   {{medDescription}}</p>
<p> Frequency: {{medFrequency}} </p>

<form action='/medications/delete-medicine' method='POST'>
<input type='hidden' name="medicineId" value= "{{id}}" />
<button type = "submit">Delete</button>
</form>
<a href="/medication/{{id}}"><button >Edit</button></a>
{{/medications}}
</ul>

 <h1>Add medicine</h1>

    <div class="container">
      <form action="/users/upload" method="POST" enctype="multipart/form-data">
        <label>Photo</label>
        <input type="file" name="photo" />
        <button type="submit">Upload</button>
      </form>

      <img src="{{imageURL}}" class="{{className}}" />

      <form action="/medications/add-medicine" method="POST">
        <div class="form-group">
    <label>Medicine Name</label>
    <input type="text" name="medicineName" class="form-control" placeholder="Enter Medicine Name">
  </div>
    <div class="form-group">
    <label>Description of Medicine</label>
    <textarea class="form-control" name="medDescription"></textarea>
    </div>
    <div class="form-group">
    <label>Frequency</label>
    <input type="text" name="medFrequency" />
  </div>

  <button type="submit" class="btn btn-primary">Save</button>
      </form>


<h1>Edit  medicine</h1>

    <div class="container">
      <form action="/users/upload" method="POST" enctype="multipart/form-data">
        <label>Photo</label>
        <input type="file" name="photo" />
        <button type="submit">Upload</button>
      </form>

      <img src="{{imageURL}}" class="{{className}}" />

      <form action="/medications/edit-medicine" method="POST">
        <input type="hidden" name="medId" value={{id}}/>
        <div class="form-group">
    <label>Medicine Name</label>
    <input type="text" name="medicineName" class="form-control" placeholder="Enter Medicine Name">
  </div>
    <div class="form-group">
    <label>Description of Medicine</label>
    <textarea class="form-control" name="medDescription"></textarea>
    </div>
    <div class="form-group">
    <label>Frequency</label>
    <input type="text" name="medFrequency" />
  </div>

  <button type="submit" class="btn btn-primary">Save</button>
      </form>
</body>


<html>
