<!doctype html>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
<html lang="en">
 {{> head}}
  <body>
  
  {{> navbar}}
<div class="container-fluid">
    <div class="col-8 offset-2">
    {{#members}}
    <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
        <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">{{first_name}} {{last_name}} <small>{{family_member}}</small></h5>
        <small>
            <button class="btn btn-default btn-xs pull-right remove-item">
            <span class="material-icons btn-xs">edit</span>
            </button>
            <form action="members/delete/{{id}}" method="post">
                <button class="btn btn-default btn-xs pull-right remove-item">
            </form>
            <span class="material-icons btn-xs">delete</span>
            </button>
        </small>
        </div>
    </a>
    {{/members}}
    </div>
</div>



</body>
 {{> footer}}
</html>


<div class="list-group">
    
</div>

