<!doctype html>
<html lang="en">
{{> head}}
<body>
 {{> navbar}}
 
{{#member}}

<div class="container">
<h1 class="text-center">{{first_name}}</h1>
<br>
 <form action="/members/upload/{{id}}" method="POST" enctype="multipart/form-data">
        <label>Photo</label>
        <input type="file" name="photo"/>
        <button type="submit">Upload</button>
  </form>
  <br>
  <br>
{{> dashboard}}
</div>
 
{{/member}}
 {{> footer}}
</body>
