<!doctype html>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
<html lang="en">
 {{> head}}
  <body>

{{> navbar}}

<div class="container-fluid p-3">

    <div class="row">
<div class="col-lg-8 offset-lg-2 text-right">
<h5 class="display-5 text-p text-left">Hello, {{name}}
<a href="./members/add" class="float-right text-success"><i class="material-icons">person_add</i></a>
<a href="./notes" class="float-right text-primary"><i class="material-icons">note_add</i></a>
</h5>

<ul class="list-group list-group-flush">
{{#members}}

  <li class="list-group-item my-1 text-p rounded border-bottom border-top border-primary">
  <b class="text-p float-left btn">{{last_name}}, {{first_name}}</b>


<div class="dropdown dropright float-right">
    <button type="button" class="btn btn-light text-p dropdown-toggle" data-toggle="dropdown">
      Actions
    </button>
    <div class="dropdown-menu">
      <a class="dropdown-item" href="/members/update/{{id}}">Update</a>
      <form action="/members/delete/{{id}}" method="POST">
        <a class="dropdown-item" href="/members/delete/{{id}}">Delete</a>
      </form>
    </div>
  </div>

  </li>
    {{/members}}
</div>
    
</ul>

<div class="col-lg-6">
</div>

    </div>



    </div>
</div>



</body>
 {{> footer}}
</html>


<div class="list-group">
    
</div>

