<!doctype html>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
<html lang="en">
 {{> head}}
  <body>

{{> navbar}}

<div class="container-fluid p-4">


 <div class="row">
<div class="col">
<form method="get" action="./members/add">
        <button class=" border-bottom border-primary btn btn-light">Add Member</button>
    </form>
    </div>
<div class="col">
<form method="get" action="/notes">
        <button class=" border-bottom border-primary btn btn-light">Notes</button>
    </form>
    </div>    
</div>

    <div class="row">
<div class="col-lg-6 text-right">
<ul class="list-group list-group-flush">
{{#members}}

  <li class="list-group-item my-1 bg-light rounded-left border-bottom border-primary">
  <b class="text-secondary">Name: </b>{{last_name}}, {{first_name}}<b class="text-secondary"> DOB:</b> {{birthday}}
  <div class="btn-group">
  <form method="post" action="members/delete/{{id}}">
  <button class="material-icons btn btn-light">delete</button>
  </form>
  <form method="get" action="members/update/{{id}}">
  <button class="material-icons btn btn-light">edit</button>
  </form>
  </div>
  </li>
    {{/members}}
    </div>
</ul>

<div class="col-lg-6">
d
</div>

    </div>



    </div>
</div>



</body>
 {{> footer}}
</html>


<div class="list-group">
    
</div>

