<!doctype html>
<html lang="en">
 {{> head}}
<body>
  {{> navbar}}
 <div class = "container">
 
    <h1> Notes </h1>

    {{#notes}}

     <label>{{title}}</label>
     <p>{{body}}</p>

    {{/notes}}

    <h2>Add a Note</h2>
    <form action="/notes" method="POST">
    <div class="form-group">
    <label>Title</label>
    <input type="text" name="noteTitle" class="form-control" placeholder="Enter a Title">
     </div>
    <div class="form-group">
    <label>Body</label>
    <textarea class="form-control" name="noteBody" placeholder="Enter text"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Save</button>
    </form>
   
  </div>
  {{> footer}}
</body>
</html>